<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/Content/jquery-1.9.1.js")
    @Scripts.Render("~/Content/bootstrap.js")
        
    @Scripts.Render("~/Content/popper.js")
    @Scripts.Render("~/Content/popper-utils.js")

    @RenderSection("Styles", false)
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            @Html.ActionLink("Articles", "PreviewArticles", "Articles", new { startWith = 0, count = 10 },
                new { @class="nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("About", "About", "Home", null, new { @class="nav-link" }) 
        </li>
        <li class="nav-item">
            @Html.ActionLink("Signin", "SignIn", "Account", null, new { @class="nav-link" })
        </li>
        <li>
            @Html.RouteLink("Register", new
            {
                action = "Register",
                controller = "Account"
            }, new {@class="nav-link"})
        </li> 
    </ul>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>
@RenderSection("Scripts", false)
</body>
</html>
