@model LittleBlog.ViewModels.Article.CreateArticleViewModel

@{
    ViewBag.Title = "Create new article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Article</h2>
@if (TempData.ContainsKey("status"))
{
    <div class="alert alert-success">
        @TempData["status"]
    </div>
}

@using (Html.BeginForm("CreateArticle", "Articles", FormMethod.Post,  new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Header)
        @Html.TextBoxFor(a => a.Header, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.TimeForRead)
        @Html.TextBoxFor(a => a.TimeForRead, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Description)
        @Html.TextAreaFor(a => a.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Tags)
        @Html.TextAreaFor(a => a.Tags, new { @class = "form-control" })
    </div>
    
    @Html.ValidationSummary()

    <label for="files">Enter file, you will get url to img like [yoursblog.com/articles/file/[some]</label>
    <input id="files" type="file" name="file" multiple />
    
    <button class="btn btn-success" type="submit">Submit</button>
 }
