@model LittleBlog.ViewModels.Article.GetArticleViewModel		
 		
 @{		
     ViewBag.Title = Model.Header;		
     Layout = "../Shared/_Layout.cshtml";		
 }		
 		
 <div class="card">		
     <div class="card-body">		
         <h4 class="card-title">@Model.Header</h4>		
         <h6 class="card-subtitle mb-2 text-muted">Time for reading @Model.TimeForRead</h6>		
         <p class="card-text">		
             @Model.Description		
         </p>		
     </div>		
 </div>		
 <div class="card">		
     		
     @if (User.IsInRole("Admin"))		
     {		
         <div>		
             @using (Html.BeginForm("DeleteArticle", "Articles", FormMethod.Post))		
             {		
                 @Html.Hidden("id", Model.Id)		
                 <button class="btn btn-danger">Delete</button>		
             }		
         </div>		
     }		
 		
     <h2 class="card-header">Write comment</h2>		
     		
     <div class="card-text" style="padding: 20px 20px 0 20px">		
         		
         @using (Ajax.BeginForm("CreateCommentAjax", "Articles", FormMethod.Post, new AjaxOptions()		
         {		
             UpdateTargetId = "comments",		
             OnBegin = "$('#loader').show(200)",		
             OnComplete = "$('#loader').hide(200)",		
             OnFailure = "alert('Error')"		
         }))		
         {		
             if (Request.IsAuthenticated)		
             {		
                 @Html.Hidden("Author", User.Identity.Name, new {@class = "form-control"})		
             }		
             else		
             {		
                 <div class="form-group">		
                     @Html.Label("Author")		
                     @Html.TextBox("Author", null, new {@class = "form-control"})		
                 </div>		
             }		
            		
             <div class="form-group">		
                 @Html.Label("Text")		
                 @Html.TextArea("Text", new {@class = "form-control"})		
             </div>		
             @Html.Hidden("articleId", Model.Id)		
             <button id="comment-button" type="submit" class="btn btn-success">Post</button>		
         }		
         		
     </div>		
 		
     <img id="loader" style="display: none" src="https://loading.io/spinners/ellipsis/index.discuss-ellipsis-preloader.svg" alt="Alternate Text"/>		
 		
     		
     <div class="card-body" id="comments" style="padding: 20px 20px 0 20px">		
         <h2 class="card-title">		
             Comments		
         </h2>		
         @foreach (var comment in Model.Comments)		
         {		
             <div class="card">		
                 <div class='card-header'>		
                     @comment.Author		
                 </div>		
                 <div class="card-body">		
                     <div class="card-text">@comment.Text</div>		
                 </div>		
             </div>		
         }		
     </div>		
 </div>