@model LittleBlog.ViewModels.Article.PreviewArticlesViewModel
@{
    ViewBag.Title = Model.CountAllArticles + " articles";
    Layout = "../Shared/_Layout.cshtml";

    int startWith = int.Parse(Request.QueryString["startWith"] ?? "0");
    int count = int.Parse(Request.QueryString["count"] ?? "0");

    double iteration = 
        Math.Ceiling(((double)Model.CountAllArticles) / count);
}

<div class="card">
    <h2>Preview articles</h2>
    <br />
    @foreach (var article in Model.ArticlesViewModels)
    {
        <div class="card card-body" style="margin-top: 20px;">
            <div class='card-body'>
                <h6 class="card-subtitle text-muted">
                    @article.PublishEditDates.Last().Date
                </h6>
                <h2 class="card-title" style='padding:10px 0;'>@article.Header</h2>
                <h5 class="card-subtitle text-muted" style='padding: 20px 0;'>
                    Time for reading article @article.TimeForRead
                </h5>

                <div class="content">
                    @article.Description ...
                    @Html.ActionLink("Read more", "GetArticle", new {id = article.Id})
                </div>

                @foreach (var tag in article.Tags)
                {
                    <span class="badge badge-dark">@tag.Name</span>
                }

            </div>  
        </div>   
    }
    <ul class="pagination d-flex card-text justify-content-center">
        
        @for (int i =  0; i < (iteration > 3 ? 3 : iteration - 1 )  ; i++)
        {
            <li class="page-item">
                @Html.ActionLink((i+1).ToString(),
                        "PreviewArticles", "Articles", new { startWith = i * count, count = count }, 
                        new { @class="page-link" }) 
            </li>
        }

        @Html.ActionLink((iteration).ToString(),
                        "PreviewArticles", "Articles", new { startWith = iteration, count = count },
                        new { @class = "page-link" })

    </ul>
    
    @if (User.IsInRole("Admin"))
        {
        @Html.ActionLink("Create article", "CreateArticle", new { area = "Admin" },
       new { @class = "card-subtitle text-muted btn btn-light" })
    }
</div>



